@media (max-width: 1200px)
  .container
    max-width: 960px
@media (max-width: 992px)
  .container 
    max-width: 760px
  .navbar
    &-wrapper
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-right: auto
      margin-left: 47px
    &-bottom
      padding: 22px 0
    &-menu
      max-width: 95%
      align-items: center
      margin: auto
      &__link
        font-size: 12px
  .search
    &__input
      width: 340px
  .logo
    height: 18px
    width: 132px
@media (max-width: 768px)
  .container
    max-width: 700px
    width: 90%
  .user 
    display: none
  .navbar
    &__search
      display: none
    &-bottom
      display: none
    &-wrapper
      &__menu-button
        display: flex
        width: 16px
        height: 11px
        align-items: center
        justify-content: space-between 
        flex-direction: column
        border: none
        background-color: $white
        padding: 0
  .menu-button 
    &__line
      width: 16px
      height: 1px
      background-color: $text-color
      cursor: pointer
  .stars 
    flex-basis: auto
  .hotel
    padding: 0
    &-wrapper
      display: flex
      justify-content: space-between
    &-name
      flex-basis: 100%
      margin-top: 20px
      margin-bottom: 3px
      font-size: 24px
    &-info
      display: flex
      justify-content: space-between
      &__text
        width: 100%
      &__ratting
        display: none
    &-offer
      order: -1
      margin-left: 0
    &-about
      font-style: 12px
      line-height: 15px
  
@media (max-width: 576px)
  .container
    max-width: 90%    
@media (max-width: 480px) and (min-width: 319px)  
  .container
    max-width: 85%
  .logo
    min-height: 13px
    min-width: 99px
  .navbar
    &-wrapper
      padding-top: 28px
      padding-bottom: 28px


  
  