@media (max-width: 1200px)
  .container
    max-width: 960px
    &-slider
      max-width: 570px
    &-slide
      &__item
        max-width: 570px
      &__img
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px  
  .footer
    &__input
      flex-basis: 100%
    
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .navbar
    &-wrapper
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-right: auto
      margin-left: 47px
    &-bottom
      padding: 22px 0
      
    &-menu
      max-width: 95%
      align-items: center
      margin: auto
      &__link
        font-size: 12px
        
  .search
    &__input
      width: 340px
    &__button
    
  .logo
    height: 18px
    width: 132px
  .hotel
    padding-bottom: 28px
    &-grid
      flex-direction: column
    &__slider
      max-width: 100%
      margin-bottom: 30px
    &-space
      display: flex
      flex-direction: row
      justify-content: space-between
      width: 100%
      height: 210px
      margin: 0
    &-map
      width: 360px
  .booking
    width: 360px
    margin-right: 25px

  .swiper
    &-slide
      &__img
        width: 100%
        object-fit: cover
  .reviews
    padding-bottom: 0
    &__title
      font-size: 30px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 250px
  .footer
    padding-top: 73px
    &-wrapper
      grid-template-column: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      flex-basis: 49%
    &__logo
      grid-row: 1 / 2
      grid-column: span 1
      height: 120px
      width: 104px
      
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 3
        align-self: center
    &__categories
      
      grid-row: 2 / 3
      grid-column: span 1
    &__legal
      grid-column: span 2
    &__information
      margin-left: 38px
      grid-column: span 2
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        grid-row: 4
        grid-column: span 3
    &__input
      &-group
        flex-basis: 48%
    &-bottom
      display: flex
      justify-content: space-between
      &__img
        margin: 0
      &__documents
        margin-left: 0
  .modal
    &__dialog
      padding: 30px 58px 10px
    &__block
      flex-direction: column-reverse
    &__info
      margin-top: 5px
    &__button
      margin-top: 5px
@media (max-width: 768px)
  .container, .newsletter-wrapper
    max-width: 700px
    width: 90%
  body
    padding-top: 78px
  .navbar
    &__mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
          flex-direction: column
          justify-content: center
          
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0 
      bottom: 0
      top: 64px
      padding-top: 33px
      &--visible
        display: block
        overflow: scroll
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
            
      &__link
        font-size: 12px
    &-wrapper
      &__menu-button
        display: flex
        width: 16px
        height: 11px
        align-items: center
        justify-content: space-between 
        flex-direction: column
        border: none
        background-color: $white
        padding: 0
  .menu-button 
    &__line
      width: 16px
      height: 1px
      background-color: $text-color
      cursor: pointer
  .user
    &__name
      &--light
        color: $white
        margin-left: 0
        margin-top: 10px
  .search
    margin: 0
    &__input
      width: 243px
      height: 40px
    &__button
      width: 65px
      height: 40px

  .stars 
    flex-basis: auto
  .hotel
    &-wrapper
      display: flex
      justify-content: space-between
      
    &-name
      flex-basis: 100%
      margin-top: 20px
      margin-bottom: 3px
      font-size: 24px
    &-info
      display: flex
      justify-content: space-between
      &__text
        width: 100%
      &__ratting
        display: none
    &-offer
      order: -1
      margin-left: 0
    &-about
      font-style: 12px
      line-height: 15px
    &-map
      width: 340px
      max-width: 100%
      
  .booking
    width: 340px
    padding: 29px 22px
    margin-right: 16px
    &__price
      margin-right: auto
  .newsletter
    &-wrapper
      flex-wrap: wrap
      margin: auto
  .reviews
    padding-bottom: 0
    &__title
      font-size: 30px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 32px
        &--prev
          margin-left: -65px
          left: 50%
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
      
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 48%
    height: 255px
  .footer
    padding-top: 69px
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      margin-top: 0
      margin-bottom: 10px
      height: 111px
      width: 94px
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__information
      margin-left: 0
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
      margin-left: 0
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        max-width: 85%
        grid-row: 7
        grid-column: 1
    &__block
      flex-direction: column-reverse
      align-items: start
    &__info
      margin-bottom: 15px
    &__message
      width: 100%
    &__input
      &-group
       flex-basis: 100%
  .modal
    &__dialog
      padding: 30px 58px 10px
    &__input
      font-size: 12px
    &__message
      font-size: 12px
    &__title
      margin-bottom: 10px
@media (max-width: 576px)
  .container
    width: 90%  
  .hotel
    &-space
      flex-direction: column  
      margin-bottom: 230px
    &-map
      width: 100%
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .booking
    min-width: 100%
    margin: 0
    margin-bottom: 20px
    padding: auto
  .button
    max-width: 100%
  .swiper
    &-container
      height: 280px
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-size: 20px
      margin-bottom: 37px
      &__text
        font-size: 30px
    &-search
      width: 280px
  .reviews
    padding-bottom: 0
    &__title
      font-size: 18px
      margin-bottom: 42px
    &-slider
      height: 100%
      padding: 45px
      &__item
        padding: 0 0 20px 0
      &__text
        text-align: left
  .activities
    padding-top: 0
  .card
    width: 100%
  .footer
    &__contact
      &-form
        max-width: 90%
    &__logo

  .modal
    &__dialog
      padding: 30px 38px 10px
    &__input
      width: 100%
      height: 45px
      margin-top: 10px
      margin-bottom: 0
    &__message
      margin-top: 10px
      height: 110px
      width: 100%
@media (max-width: 480px) and (min-width: 320px)  
  .container
    max-width: 85%
  .logo
    min-height: 13px
    min-width: 99px
  .navbar
    &-wrapper
      padding-top: 26px
      padding-bottom: 26px
  .breadcrumb
    &-list
      padding-top: 10px
      padding-bottom: 15px
  .swiper
    &-container
      height: 180px
      margin-bottom: 20px
  .booking
    margin-bottom: 20px
    height: 210px
    width: 100%
    padding: 26px 22px
    &__price
      margin-right: 0
  .hotel
    &__slider
      margin-bottom: 20px
      height: 180px
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
    &-slider
      height: 100%
      padding: 33px
      margin-bottom: 0
      margin-top: 45px
  .activities
    &-title
      font-size: 18px
      margin-bottom: 36px
      margin-top: 0  
  .footer
    &__social-network
      display: flex
      flex-wrap: wrap 
    &__title
      &--inline
        margin-bottom: 20px
    &__icon
      &-wrapper
        margin-right: 7px
        width: 30px
    &__form
      font-size: 12px
    &__block
      justify-content: space-between
      flex-direction: column-reverse
    &-bottom
      margin-top: 30px
      &__img
        margin-top: 10px
    &__contact
      &-form
        max-width: 100%
@media (min-width: 991px)
  .card
    &-button
      &:hover 
        background: #F66C7B
        color: #fff
        background-image:-webkit-linear-gradient(top, #D25068, #F66C7B)
        background-image:-moz-linear-gradient(top, #D25068, #F66C7B)
        background-image:-ms-linear-gradient(top, #D25068, #F66C7B)
        background-image:-o-linear-gradient(top, #D25068, #F66C7B)
        background-image:linear-gradient(top, #D25068, #F66C7B)
  .footer
    &__button
      &:hover  
        background: #F66C7B
        color: #fff
        background-image:-webkit-linear-gradient(top, #D25068, #F66C7B)
        background-image:-moz-linear-gradient(top, #D25068, #F66C7B)
        background-image:-ms-linear-gradient(top, #D25068, #F66C7B)
        background-image:-o-linear-gradient(top, #D25068, #F66C7B)
        background-image:linear-gradient(top, #D25068, #F66C7B)
    &__link
      &:hover
        color: $white
  .navbar
    &-menu
      &__link
        &:hover
          color: $links-color
  .search
    &__button
      &:hover 
        background: #F66C7B
        color: #fff
        background-image:-webkit-linear-gradient(top, #D25068, #F66C7B)
        background-image:-moz-linear-gradient(top, #D25068, #F66C7B)
        background-image:-ms-linear-gradient(top, #D25068, #F66C7B)
        background-image:-o-linear-gradient(top, #D25068, #F66C7B)
        background-image:linear-gradient(top, #D25068, #F66C7B)
  .booking
    &__button
      &:hover 
        background: #F66C7B
        color: #fff
        background-image:-webkit-linear-gradient(top, #D25068, #F66C7B)
        background-image:-moz-linear-gradient(top, #D25068, #F66C7B)
        background-image:-ms-linear-gradient(top, #D25068, #F66C7B)
        background-image:-o-linear-gradient(top, #D25068, #F66C7B)
        background-image:linear-gradient(top, #D25068, #F66C7B)
  .modal
    &__button
      &:hover
        background: #F66C7B
        color: #fff
        background-image:-webkit-linear-gradient(top, #D25068, #F66C7B)
        background-image:-moz-linear-gradient(top, #D25068, #F66C7B)
        background-image:-ms-linear-gradient(top, #D25068, #F66C7B)
        background-image:-o-linear-gradient(top, #D25068, #F66C7B)
        background-image:linear-gradient(top, #D25068, #F66C7B)
  .newsletter
    &-search
      &__button
        &:hover 
          background: #F66C7B
          color: #fff
          background-image:-webkit-linear-gradient(top, #D25068, #F66C7B)
          background-image:-moz-linear-gradient(top, #D25068, #F66C7B)
          background-image:-ms-linear-gradient(top, #D25068, #F66C7B)
          background-image:-o-linear-gradient(top, #D25068, #F66C7B)
          background-image:linear-gradient(top, #D25068, #F66C7B)
      
    


  
  