.hotel
  padding: 0px 0 70px 0
  background-color: $secondary
  &-grid
    display: flex
    justify-content: space-between
    
  &-info
    display: flex
    justify-content: space-between
    padding-bottom: 20px
    &__ratting
      min-width: 65px
      min-height: 45px
      padding-top: 8px 
      padding-left: 6px
      padding-bottom: 6px
      padding-right: 7px
      background-color: $primary
      border-radius: 4px
      color: $white
      display: flex
      justify-content: center
      align-items: center
      margin-top: 13px
      margin-bottom: 10px
      flex-direction: column
      flex-wrap: wrap
    &__text
      font-size: 8px
      line-height: 10px
  &-offer
    width: 70px
    height: 20px
    background-color: $primary
    font-size: 10px
    color: $white
    padding: 4px 9px
    border-radius: 3px
    font-family: "Mulish"
    margin-left: 14px
    margin-top: 5px
  &-name
    font-size: 24px
    text-transform: uppercase
    margin-top: 8px
    margin-bottom: 0
    font-weight: bold
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
    margin-bottom: 0px
  &-about
    margin-top: 10px
    font-size: 12px
  &-space
    display: flex
    flex-direction: column 
    justify-content: space-between
    margin-left: 28px
    width: 350px
    height: 450px
  &-map
    height: 213px
    width: 347px
    margin-bottom: 0
    frameborder: iframe
    
  &__slider
    max-width: 728px
    height: 450px
    
  &-slider
    &__item
      display: flex
      width: 728px
      height: 450px
      padding: 0
      border-radius: 4px
      overflow: hidden
      object-fit: cover
      &:after
        content: ''
        position: absolute
        height: 100%
        width: 100%
        top: 0
        bottom: 0
        right: 0
        left: 0
        background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
        z-index: 100
    &__img
      width: 100%
      object-fit: cover

    &__button
      position: absolute
      top: 50%
      transform: translateY(-50%)
      width: 30px
      height: 30px
      border: none
      background-color: none
      z-index: 99
      cursor: pointer
      &--next
        right: 18px
        background-image: url(../img/arrow-next.svg)
        background-repeat: no-repeat
        background-position: center 
      &--prev
        left: 18px
        background-image: url(../img/arrow-before.svg)
        background-repeat: no-repeat
        background-position: center 

.stars
  flex-basis: 100%
  &__img
    margin-right: 3px

.ratting
  &__text
    font-size: 8px
    line-height: 10px
    align-self: center
    margin-bottom: 2px
  &__counter
    font-size: 14px
  &__counter2
    font-size: 10px
.booking
  border-radius: 8px
  max-width: 350px
  padding: 29px
  background-color: $dark-color
  color: $white
  display: flex
  flex-direction: column
  font-family: 'Nunito'
  &__info
    display: flex
    justify-content: space-between
  &__price
    display: flex
    flex-direction: column
    margin-bottom: 9px
  &__start
    font-size: 10px
  &__pricetag
    font-size: 24px
    margin-top: 3px
    font-weight: 800
  &__per-room
    font-size: 12px
    margin-top: 1px
  &__icon
    height: 14px
    width: 14px
  &__description
    font-size: 12px
  &__text
    display: flex
    justify-content: space-between
    margin-bottom: 8px
  &__room
    margin-top: 3px
  &__icon
    margin-right: 9px
  &__button
    padding: 13px 20px
    max-width: 295px
    font-size: 14px
    color: $white
    background-color: $primary
    border: none
    border-radius: 4px
    cursor: pointer
    &:hover 
      background: #F66C7B
      color: #fff
      background-image:-webkit-linear-gradient(top, #D25068, #F66C7B)
      background-image:-moz-linear-gradient(top, #D25068, #F66C7B)
      background-image:-ms-linear-gradient(top, #D25068, #F66C7B)
      background-image:-o-linear-gradient(top, #D25068, #F66C7B)
      background-image:linear-gradient(top, #D25068, #F66C7B)
.map
  height: 100%
  width: 100%
  border-radius: 10px
  overflow: hidden
.call-center
  display: flex
  justify-content: space-between
  margin-bottom: 14px
  &__text
    font-size: 18px
    font-weight: 600
  &__number
    text-decoration: none
    color: $white
    font-size: 18px
    font-weight: 600
  &__icon
    height: 14px
    width: 14px

  


    

  
    
